@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-surface: #ffffff;
  --color-primary-text: #111827;
  --color-brand: #ff0004;
}

.dark {
  --color-surface: #0f172a;
  --color-primary-text: #f9fafb;
  --color-brand: #ff0004;
}

@theme {
  --color-surface: var(--color-surface);
  --color-primary-text: var(--color-primary-text);
  --color-brand: var(--color-brand);
}

/* View Transition Animation */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-image-pair(root) {
  isolation: isolate;
}

::view-transition-new(root) {
  animation: reveal 0.7s ease-in-out;
  z-index: 9999;
}

::view-transition-old(root) {
  z-index: 1;
}

@keyframes reveal {
  from {
    clip-path: circle(0% at 0 0);
  }
  to {
    clip-path: circle(150% at 0 0);
  }
}
